.conf-gnustep-back.log
.conf-gnustep-base.log
.conf-gnustep-corebase.log
.conf-gnustep-gui.log
.conf-gnustep-make.log
.conf-packages.log
.down-gnustep-back
.down-gnustep-base
.down-gnustep-corebase
.down-gnustep-gui
.down-gnustep-libobjc2
.down-gnustep-make
.download
.inst-gnustep-back
.inst-gnustep-base
.inst-gnustep-corebase
.inst-gnustep-gui
.inst-gnustep-libobjc2
.inst-gnustep-make
.inst-libhttp-parser
.make-libbrayatan
gnustep-back-0.24.0
gnustep-base-1.24.6
gnustep-corebase-0.1.1
gnustep-gui-0.24.0
gnustep-make-2.6.6
libobjc2-1.7
