Numero: {{numero}}
Texto: {{texto}}

Lista:

<table border="1">
	<thead>
		<tr>
			<th>dato</th>
		</tr>
	</thead>
	{{#lista}}
	<tbody>
		<tr>
			<td>{{x}}</td>
		</tr>
	</tbody>
	{{/lista}}
</table>
